<!DOCTYPE html>
<html lang="en">
<head>
    <title>View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6">
        <br/>
        <br/>
        <br/>
        <h1 class="bg-danger" align="center"> Sorry </h1>
        <h1 class="bg-danger" align="center"> Access Denied!</h1>
        <h3 class="bg-primary" align="center"> You don't have permission to get access</h3>
    </div>
    <div class="col-sm-3"></div>
</div>
</body>
</html>
